<STYLE TYPE="text/css">
<!--
	
	.NAV {
          text-decoration: none;
		  font-family: Arial, Helvetica;
		  font-size: 10pt;
		  color: #ffffff
    }
	
	.SNAV {
      	   text-decoration: none;
		   font-family: Arial, Helvetica;
		   font-size: 10pt;
		   color: #00378a
    }	

	.LNAV {
		   text-decoration: none;
		   font-family: Arial, Helvetica;
		   font-size: 11pt;
		   color: #00378a
    }

	.BLUE {
		font-family: Arial, Helvetica;
		font-size: 10pt;
		color: #001212
    }	
	
	.title {
			text-decoration: none;
			font-family: Arial, Helvetica; 
			font-size: 16pt; 
			color: #00378a; 
			font-weight: bold
	}
    
	.title2 {
			text-decoration: none;
			font-family: Arial, Helvetica; 
			font-size: 14pt; 
			color: #00378a; 
			font-weight: bold
	}
	
	.small {
			font-family: Arial, Helvetica; 
			font-size: 8pt
	}
    
	.content {
			  font-family: Arial, Helvetica; 
			  font-size: 10pt
	}
	
-->	
</STYLE>